@import url('https://fonts.googleapis.com/css2?family=Limelight:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Margarine:wght@400;500;600;700;800&display=swap');

:root{
    --bgColor:#ffc300;
    --color2:#E6A400;
    --mainFontColor: #000000;
    --textFontColor: #525252;
    --limelightFont: 'Limelight', cursive;
    --nunitoFont: 'Silkscreen', sans-serif;
    --poppiFont: 'Poppins', sans-serif;
    --margarineFont: 'Margarine', cursive;
}

*{
    margin: 0;
    padding: 0;
    outline: 0px;
    box-sizing: border-box;
    list-style: none; text-decoration: none;
}

html{
    font-size: 20px;
}

.message{
    z-index: 1001;
    background-color: red;
    color: wheat;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    position: absolute;
    top:100px;
    right: 30px;
    width: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message h1{
    text-align: center;
    font-size: .7rem;
    font-family: var(--nunitoFont);
}

.message svg{
    height: 30px;
    width: 30px;
    margin-left: 50px;
    cursor: pointer;
}
.main{
    padding: 0px 30px;
}


.loginBox{
    z-index: 1001;
    position: sticky;
    top:50%;
    left:50%;
    width: 50%;
    height: 450px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    background-color: white;
    display: none;
    padding:30px 100px;
    overflow: hidden;
}
.loginBox form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginBox svg{
    position: absolute;
    top:0px;
    right: 0px;
    height: 50px;
    width: 50px;
    background-color: #504444;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}
.loginBox h1{
    font-family: var(--limelightFont);text-align: center;
    font-size: 2.5rem;
}
.loginBox form label{
    font-size: 1.5rem;
    font-family: var(--nunitoFont);
    color: var(--textFontColor);
}

.loginBox form input[type='email'],input[type='password']{
    outline: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--bgColor);
    padding: 15px;
    font-size: 1rem;
}

.loginBox form input[type='email']::-webkit-input-placeholder,input[type='password']::-webkit-input-placeholder{
    color: var(--textFontColor);
}

.loginBox form input[type='submit']{
    outline: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    font-family: var(--margarineFont);
    cursor: pointer;
}

.loginBox form input[type='button']{
    outline: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    background-color: var(--textFontColor);
    font-family: var(--margarineFont);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}
.activebox{
    display: block;
}

.notactivebox{
    display: none;
}

.main{
    position: relative;
    width: 100%;
    background-color: var(--bgColor);
}

.intro-data{
    position: relative;
    top:20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-shrink: inherit;
}
.intro-data h2, .intro-data h4{
    user-select: none;
    font-family: var(--nunitoFont);
    color: #504444;
}

.intro-data h2 svg{
    position: relative;
    top: 10px;
    width:40px;
    height:40px;
}

.homebox{
    position: relative;
    top:16px;
    width: 100%; min-height: 83vh;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
}


.homebox h1{
    font-size: 10rem;
    font-family: var(--limelightFont);
    color: #000000;

}
.homebox h3{
    font-size: 2.5rem;
    line-height: 50px;
    text-align: center;
    font-family: var(--nunitoFont);
    color: var(--textFontColor);
}


.scrollintro{
    position: relative;
    top: 50px;
}

.scrollintro .intro{
    position: relative;
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-evenly;
    gap: 100px;
}

.scrollintro .intro h3{
    padding: 20px;
    color: #000000;
    font-family: var(--poppiFont);
    font-size: 2rem;
}

.centerbox{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: sticky;
    top:10px;
    z-index: 100;
}

nav{
    width: 95%; 
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

nav .logo{
    font-size: 1.2rem;
    background-color: #ffffff;
    font-family: var(--limelightFont);
}
nav a .logo{
    color: #000000;
}
nav .navlinks{
    display: flex; flex-direction: row;
    background-color: #ffffff;
    align-items: center;
    gap: 30px;
}
nav .navlinks a{
    color: var(--textFontColor);
    font-family: var(--poppiFont);
    background-color: #ffffff;
    font-size: 1rem;
}

nav button{
    font-family: var(--nunitoFont);
    font-size: .8rem;
    background-color: var(--color2);
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}


.shorten{
    position: relative;
    padding: 50px;
    margin-top:60px;
    width: 100%; 
}

.shorten h1{
    font-size: 3rem;
    font-family: var(--limelightFont);
}

.shorten h2{
    font-size: 2.1rem;
    font-family: var(--nunitoFont);
}
.shorten h4{
    font-size: 1.5rem;
    font-family: var(--poppiFont);
    color: #504444;

}

.shortner-box{
    margin-top: 30px;
    padding: 40px;
    width: 100%; 
    background-color: var(--color2);
    border-radius: 10px;
    border: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}
.shortner-box h3{
    font-family: var(--nunitoFont);
    font-size: 2rem;
}

.shortner-box form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shortner-box form label{
    font-family: var(--limelightFont);
    font-size: 1.5rem;
    font-weight: 600;
}

.shortner-box form input[type="url"],input[type="text"]{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: var(--poppiFont);
    font-size: 1rem;
}

.shortner-box form input[type="submit"]{
    width: 15rem;
    font-size: 1.2rem;
    background-color: #000000;
    border: 0px;
    border-radius: 20px;
    color: #ffffff;
    padding: 15px;
}

.shortner-box form input[type="submit"]:hover{
    background-color: #504444;
    cursor: pointer;
}
form .inputbox{
    width: 100%;
}

.forminfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: var(--bgColor);
    padding: 10px;
    border-radius: 10px;
}

.forminfo p{
    font-family: var(--nunitoFont);
    color: #504444;
}


.stats{
    width: 100%;
    margin-top:50px;
    padding-top: 100px;
}

.stats h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 60px;
}

.statsbox{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;

}


.statsbox .statdata{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    background-color: var(--color2);
    border-radius: 30px;
}

.statsbox .statdata:hover{
    transition: .5 ease-in-out;
    scale: 1.1;
}

.statsbox .statdata h1{
    font-size: 2rem;
    font-family: var(--nunitoFont);
}
.statsbox .statdata h5{
    font-family: var(--margarineFont);
    margin-top: -60px;    
    font-size: 1.5rem;
    color: #504444;
}

.faq{
    width: 100%;
    margin-top:50px;
    padding-top: 100px;
}

.faq h1{
    font-size: 4rem;
    margin-bottom: 30px;
    text-align: center;
}

.faqquestions{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.faqquestions .question{
    width: 100%;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    border-radius: 10px;
    max-height: 70px;
}

.faqquestions .question:hover{
    transition: all .2s ease-in-out;
    min-height: 180px;
}

.faqquestions .question h1{
    position: relative;
    top:15px;
    font-family: var(--nunitoFont);
    font-size: 1.5rem;
    color: #504444;
}

.faqquestions .question h5{
    position: relative;
    text-align: center;
    min-width: 100%;
    overflow-x: hidden;
    top:25px;
    font-family: var(--poppiFont);
    font-size: 1rem;
}

.stayupdated{
    margin-top: 50px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stayupdated h1{
    font-size: 4rem;
    text-align: center;
}

.stayupdated h4{
    font-size: 2rem;
    line-height: 40px;
    text-align: center;
}
.stayupdated form{
    margin-top: 30px;
}
.stayupdated form input[type='email']{
    width:400px;
    background-color: var(--color2);
    padding: 15px;
    font-size: 1rem;
    border: 0;
    border-radius: 10px;
}

.stayupdated form input[type='submit']{
    margin-left: 20px;
    background-color: #000000;
    color: #ffffff;
    font-family: var(--nunitoFont);
    padding: 15px 20px;
    font-size: 1rem;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}


footer{
    margin-top: 50px;
    padding: 30px 10px;
    border-top: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--limelightFont);
}

footer .sociallinks a{
    margin-left: 10px;
}

footer .sociallinks svg:hover{
    transition: all .2s ease-in-out;
    scale: 1.5;
}

.shortenmain{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bgColor);
    padding: 30px 30px 30px 30px;

}
.shortenBox{
    margin-top: 30px;
    width: 100%;
    min-height: 300px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
}
.resultbox{
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #c7c7c7;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


.resultbox img{
    height: 12rem;
    width: 12rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.resultbox h1{
    margin: 10px 0px;
    font-size: 2rem;
    font-family: var(--nunitoFont);
    color: #000000;
}

.resultbox a{
    font-size: 1rem;
    font-family: var(--poppiFont);
    color: #000000;
}

.resultbox .linkbtns button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #000a47;
    line-height: 1.15;
    font-size: 16px;
}

.resultbox .linkbtns button:nth-child(2n){
    background-color: var(--textFontColor);
}

.resultbox .linkbtns button:hover {
    transition: all .1s ease;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}





.shortenBox h1{
    font-size: 5rem;
    font-family: var(--limelightFont);
    color: #000000;
}

.shortenBox h4{
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    font-family: var(--margarineFont);
    color: var(--textFontColor);
}

.urlbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 100%;
    padding: 10px 50px;
}

.shortenBox .urlbox form {
    width: 100%;
    text-align: center;
}

.shortenBox .urlbox form  input[type='url']{
    padding: 10px;
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    font-family: var(--poppiFont);
    font-size: 1rem;
}

.shortenBox input[type="submit"]{
    width: 80px;
    font-size: 1.2rem;
    background-color: #000000;
    border: 0px;
    border-radius: 20px;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
}

.mylinks{
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    background-color: white;
}

.mylinks .urllinks{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex:1 ;
    margin-left: 10px;
}
.mylinkbtns button{
   background-color: #000000;
   color: #ffffff;
   padding: 5px;
   border: 0;
   border-radius: 5px;
}

.mylinkbtns button:nth-child(2n){
    background-color: #525252;
}
.shortenmain>h1{
    font-family: var(--limelightFont);
    font-size: 2rem;
    margin: 20px;
}

.urllinks h2{
    font-size: 1.2rem;
    font-family: var(--nunitoFont);
    color: var(--textFontColor);
}
.urllinks a{
    font-size: 1rem;
    font-family: var(--margarineFont);

}




::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


.signupbox h1{
    font-family: var(--limelightFont);text-align: center;
    font-size: 2.5rem;
}
.signupbox form label{
    font-size: 1.5rem;
    font-family: var(--nunitoFont);
    color: var(--textFontColor);
}

.signupbox{
    position: relative;
    height: 100vh;
    background-color: #ffffff;
    margin:5rem;
    border-radius: 20px;
    padding:100px 150px;
}

.signupbox form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.signupbox form input{
    outline: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--bgColor);
    padding: 15px;
    font-size: 1rem;
}

.signupbox form input[type='submit']{
    outline: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    font-family: var(--margarineFont);
    cursor: pointer;
}




@media screen and (max-width: 1023px){
    html{
        font-size: 15px;
    }
    .main{
    padding: 0px 10px;
    }
    .intro-data{
        padding: 0 35px;
    }
    .intro-data h2 svg{
        position: relative;
        top: 5px;
        width:25px;
        height:25px;
    }
    nav{
        padding: 15px 20px;
    }
    nav .navlinks{
        gap: 20px;
    }
    .stayupdated form input[type='email']{
        width:300px;

    }
    .stayupdated form input[type='submit']{
        margin-left: 10px;
        padding: 15px 15px;
    }
    .loginBox{
        top:50%;
        left:50%;
        width: 70%;
        height: 450px;
        transform: translate(-20%, -50%);
        padding:30px 30px;
    }



}


@media screen and (max-width: 768px){
    html{
        font-size: 13px;
    }

    .main{
        padding: 0px 5px;
    }
    .intro-data{
        padding: 0 5px;
    }
    .intro-data h2 svg{
        position: relative;
        top: 4px;
        width:22px;
        height:22px;
    }
    nav{
        padding: 15px 15px;
    }
    nav .navlinks{
        gap: 15px;
    }
    nav button{
        padding: 5px 10px;
    }
    .faqquestions .question h1{
        font-size: 1.9rem;
        margin-bottom: 20px;
    }
    .stayupdated form input[type='email']{
        width:200px;

    }
    .stayupdated form input[type='submit']{
        font-size: .9rem;
        margin-left: 5px;
        padding: 10px 10px;
    }
    .stayupdated h4{
        line-height: 30px;
    }
    .loginBox{
        top:50%;
        left:50%;
        width: 60%;
        transform: translate(-30%, -50%);
        padding:30px 30px;
    }

}



@media screen and (max-width: 600px){
    html{
        font-size: 8px;
    }

    .intro-data h2 svg{
        position: relative;
        top: 5px;
        width:15px;
        height:15px;
    }

    .homebox h1{
        font-size: 8rem;
    }

    .homebox h3{
        line-height: 25px;
    }

    .scrollintro .intro{
        gap: 40px;
    }

    .scrollintro .intro h3{
        padding: 20px;
        font-size: 3rem;
    }
    nav{
        padding: 15px 10px;
    }
    nav .navlinks{
        gap: 5px;
    }
    .shorten{
        padding: 20px;
    }
    .statsbox .statdata{
    width: 250px;
    height: 100px;
    }
    footer{
        margin-top: 20px;
        padding: 15px 10px;
    }
    
    footer .sociallinks a{
        margin-left: 5px;
    }
    footer .sociallinks svg{
        width: 20px;
        height: 20px;
    }
    .stayupdated form input[type='email']{
        width:250px;
    }
    .stayupdated form input[type='submit']{
        margin-left: 0;
        margin-top: 10px;
        width:250px;
    }
    .stayupdated h4{
        line-height: 20px;
    }
    .loginBox{
        top:50%;
        left:50%;
        width: 70%;
        height: 380px;
        transform: translate(-20%, -50%);
        padding:30px 10px;
    }

    
}